
li{
  display: inline;
  align-items: center;
  justify-content: space-between;
  
}
.one{
  width: 70%;
}
.table {
  margin: 0 auto 20px;
}

.today {
  background-color: #009e6c;
  color: red;
}

.in-prev-month,
.in-next-month {
  opacity: 0.5;
}